<h3>Address:</h3>
<fieldset>
    <label>
        Street: 
      <input [(ngModel)]="address.street">
      </label><br/>
    <label>
        City: 
        <input [(ngModel)]="address.city">
        </label>
    <label><br/>
        State:
        <select [(ngModel)]="address.state">
          <option *ngFor="let state of states">{{state}}</option>
        </select>
      </label>
    <label><br/>
        Region:
        <select [(ngModel)]="address.region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
      </label>
</fieldset>