<h1>Customers</h1>
<div>
  <p><i>Select a customer</i></p>
  <ul>
    <li *ngFor="let cust of customers" [ngClass]="{selected: customer===cust}" (click)="customer=cust">{{cust.name}}</li>
  </ul>


  <div *ngIf="customer">
    <h1>{{customer.name}}</h1>

    <p><i>{{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}, {{customer.address.state}} in the {{customer.address.region}} region.</i></p>

    <fieldset>
      <label>
      Name:
      <input [(ngModel)]="customer.name">
    </label>
    </fieldset>

    <br>
    <label><input type="checkbox" [(ngModel)]="hideAddress">Hide Address</label>

    <div [hidden]="hideAddress">
      <h3>Address:</h3>
      <fieldset>
        <label>
        Street: 
      <input [(ngModel)]="customer.address.street">
      </label><br/>
        <label>
        City: 
        <input [(ngModel)]="customer.address.city">
        </label>
        <label><br/>
        State:
        <select [(ngModel)]="customer.address.state">
          <option>California</option>
          <option>Quebec</option>
          <option>Jalisco</option>
          <option>Illinois</option>
        </select>
      </label>
        <label><br/>
        Region:
        <select [(ngModel)]="customer.address.region">
          <option *ngFor="let region of regions">{{region}}</option>
        </select>
      </label>
      </fieldset>
    </div>
  </div>
</div>