<h1>{{customer.name}}</h1>

 <p><i>{{customer.name}} is at {{customer.address.street}} in {{customer.address.city}}, {{customer.address.state}} in the {{customer.address.region}} region.</i></p>

  <fieldset>
    <label>
      Name:
      <input [(ngModel)]="customer.name">
    </label>
  </fieldset>

  <br>
  <label><input type="checkbox" [(ngModel)]="hideAddress">Hide Address</label>

  <div [hidden]="hideAddress">
    <h3>Address:</h3>
    <fieldset>
      <label>
        Street: 
      <input [(ngModel)]="customer.address.street">
      </label><br/>
      <label>
        City: 
        <input [(ngModel)]="customer.address.city">
        </label>
        <label><br/>
        State:
        <select [(ngModel)]="customer.address.state">
          <option>TX</option>
          <option>TN</option>
          <option>IL</option>
          <option>CA</option>
        </select>
      </label>
      <label><br/>
        Region:
        <select [(ngModel)]="customer.address.region">
          <option>North</option>
          <option>South</option>
          <option>East</option>
          <option>West</option>
        </select>
      </label>
    </fieldset>
  </div>
  

  